* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 251, 251);
  line-height: 1.5;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 40%;
  right: 40%;
  top: 10%;
  bottom: 40%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

#signup {
  /* background-color: rgb(236, 19, 19); */
  color: rgb(37, 37, 37);
  overflow: auto;
  border: 200px rgb(240, 233, 233);
  display: block;
  z-index: 500;
}

.login-signup-grid {
  background: rgb(252, 249, 249);
  display: block;
  border: 500px;
  /* text-align: center; */
  margin: 0px;
  margin-top: 50px;
}

.container {
  margin: auto;
  max-width: var(--max--width);
  overflow: hidden;
  padding: 0 50px;
}
.container-img {
  display: grid;
  grid-template-areas: "1 2 3";
  background-color: rgb(250, 246, 246);
  grid-row-gap: 5px;
  padding: 10px;
  grid-gap: 20px;
}

img {
  width: 100%;
}

/*Navbar*/
#navbar {
  background: rgb(49, 49, 49);
  color: rgb(226, 212, 212);
  overflow: auto;
  position: sticky;
  top: 0;
  z-index: 2;
}
#navbar .container {
  align-items: center;
}
#navbar a {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(252, 247, 247);
}

#navbar h1 {
  float: left;
  padding-top: 20px;
  margin-bottom: 0.55rem;
  line-height: 1.3;
}

#navbar ul li {
  float: right;
  list-style: none;
}

#navbar ul li a {
  float: left;
  display: block;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}
#navbar ul li a:hover {
  background: #444;
  color: #f7c08a;
}
/*to take out all the underlined links (a href*/
a {
  text-decoration: none;
}

#search-box-css {
  float: right;
  border: none;
  margin-top: 2px;
  margin-right: 20px;
  font-size: 1px;
  padding: 0;
}

/* #product {
  display: flexbox;
} */

/* Showcase */
#showcase:before {
  color: #fff;
  background: rgb(228, 7, 7);
  padding: 2rem;
  position: relative;
  z-index: -20;
}

#showcase:before {
  content: "";
  background: url("/public/Showcase.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.category h1 {
  width: 100%;
  height: 100%;
}

.add-to-cart-button__primary {
  background: none;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
}
.add-to-cart-button__primary:focus {
  outline: none;
}
